{#{% extends "base.html" %}#}
{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block javascript %}
  <script type="text/javascript"
          src="{{ STATIC_URL }}lizard_ui/csrf.js"></script>
  <script type="text/javascript"
          src="{{ STATIC_URL }}lizard_damage/form.js"></script>
{% endblock javascript %}

{% block css %}
{{ block.super }}
  {# Sprites: all icons (print, info, etc) in one cacheable image. #}
  <link rel="stylesheet"
        href="{{ STATIC_URL }}lizard_damage/form.css"
        type="text/css"
        media="screen, projection" />
{% endblock css %}

{% block content %}
<h3>{% firstof wizard.form.display_title '' %}</h3>
<p>Stap {{ wizard.steps.step1 }} van {{ wizard.steps.count }}</p>
<form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form.as_p }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<!-- <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button> -->
<!-- <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button> -->
{% endif %}
<input class="btn btn-primary" type="submit" value="verder"/>
</form>

<div>
</div>
{% endblock %}

{% block sidebar %}
Downloads
<ul>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/data/dt.cfg">Standaard schade tabel.</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}schademodule/zip/example.zip">Voorbeeld zipfile voor batchbewerking.</a>
  </li>
</ul>
{% endblock %}
