{#{% extends "base.html" %}#}
{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block javascript %}
  <script type="text/javascript"
          src="{{ STATIC_URL }}lizard_ui/csrf.js"></script>
  <script type="text/javascript"
          src="{{ STATIC_URL }}lizard_damage/form.js"></script>
{% endblock javascript %}

{% block css %}
{{ block.super }}
  {# Sprites: all icons (print, info, etc) in one cacheable image. #}
  <link rel="stylesheet"
        href="{{ STATIC_URL }}lizard_damage/form.css"
        type="text/css"
        media="screen, projection" />
{% endblock css %}

{% block content %}
<h3>{% firstof wizard.form.display_title '' %}</h3>
<p>Stap {{ wizard.steps.step1 }} van {{ wizard.steps.count }}</p>

{% if wizard.form.display_description %}
<p>{{ wizard.form.display_description }}</p>
{% endif %}

{% if wizard.form.display_content %}
{% autoescape off %}
{{ wizard.form.display_content }}
{% endautoescape %}
{% endif %}
<form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
    <div class="wizard-item-row row">
      <ul>
        {{ form.as_ul }}
      </ul>
    </div>
    {% endfor %}
{% else %}
    {#{ wizard.form.as_p }#}
    {% for field in wizard.form %}
      <div class="row">
        {% if field.errors %}
        <ul class="errorlist">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div class="span4">
          <div class="help_tooltip{% if field.help_text %} ss_sprite ss_help{% endif %}" title="{{ field.help_text }}">&nbsp;</div>
          {{ field.label_tag }}
        </div>
        {{ field }}
      </div>
    {% endfor %}
{% endif %}
</table>
{% if wizard.steps.prev %}
<!-- <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button> -->
<button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">vorige stap</button>
{% endif %}
<input class="btn btn-primary" type="submit" value="verder"/>
</form>
{% endblock %}

{% block sidebar %}
Downloads
<ul>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/data/dt.cfg">Standaard schade tabel.</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}schademodule/zip/example.zip">Voorbeeld zipfile voor batchbewerking.</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/voorbeeld_vertaaltabel.xls">Voorbeeld Excelfile voor vertalen klasses van eigen landgebruikskaarten</a>
  </li>
</ul>
Help
<ul>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/help/gebruikers handleiding.pdf" target="_blank">Gebruikershandleiding</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/help/kaart met waterstanden.pdf" target="_blank">Kaart met waterstanden</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/help/hoogtekaart AHN2.pdf" target="_blank">Hoogtekaart AHN2</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/help/landgebruikskaart.pdf" target="_blank">Landgebruikskaart</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/help/directe en indirecte schade.pdf" target="_blank">Directe en indirecte schade</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/help/schadebedragen.pdf" target="_blank">Schadebedragen</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/help/schadeberekening.pdf" target="_blank">Schadeberekening</a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}lizard_damage/help/risicokaart en batenkaart.pdf" target="_blank">Risicokaart en batenkaart</a>
  </li>
</ul>
  <div>
    {{ view.version }}
  </div>
  <div>
    Voor vragen en/of opmerkingen kunt u ons mailen: <a href="mailto:servicedesk@nelen-schuurmans.nl">servicedesk@nelen-schuurmans.nl</a>
  </div>

{% endblock %}
