{% extends "lizard_ui/lizardbase.html" %}

{% block main-area %}

<div style="width: 800px; margin-left: auto; margin-right: auto;">

<img src="{{ STATIC_URL }}lizard_damage/stowa_logo.png" style="margin-top: 20px;">
<h3>Schademodel voor regionale wateroverlast</h3>
<h3>{{ view.version }}</h3>
<div style="background: #b0b0b0; border: solid 1px #909090; color: #000; border-radius: 5px; margin-bottom: 20px; margin-top: 10px; padding: 15px;">
<h3>DISCLAIMER</h3>

Deze WaterSchadeSchatter (WSS) is ontwikkeld door de STOWA voor het op een consistente en reproduceerbare wijze berekenen van schade door wateroverlast. Deze schadecalculator is bedoeld voor een beleidsmatige afweging van maatregelen voor het voorkomen van schade door wateroverlast. De bedragen en functies zijn in nauw overleg met diverse  waterschappen en experts geschat voor een gemiddelde Nederlandse situatie met als prijspeil 2010. De schadecalculator is niet geschikt voor het ex ante bepalen van de schade bij een wateroverlastgebeurtenis voor bijvoorbeeld een schaderegeling.
</div>

<a href="{% url lizard_damage_form %}" style="display: block; background: #4e9caf; text-align: center; border-radius: 5px; color: white; font-weight: bold; padding: 5px;">akkoord en verder</a>
</div>
{% endblock %}
