{# template for received notification #}
<p>
  L.S.,<br/><br/>

    Het schademodule scenario <strong>"{{ damage_scenario.name }}"</strong> is uitgerekend. Klik onderstaande link om te resultaten te bekijken. <br/><br/>

    <a href="{% url lizard_damage_result slug=damage_scenario.slug %}">Resultaten "{{ damage_scenario.name }}"</a>

  <br/><br/>
  --<br/>
  schade.lizard.net<br/><br/>

  <font color="#aaaaaa"><small>Dit is een automatisch gegenereerd bericht. Graag niet beantwoorden.</small></font>
</p>
